{:aliases
 {:build {:deps {bases/build {:local/root "../../bases/build"}}
          :exec-args {:lib 'com.repldriven.mono/bank-monolith-service
                      :main com.repldriven.mono.bank-monolith.main
                      :major-minor-version "0.0"}
          :ns-default com.repldriven.mono.build.build}
  :test
  {:extra-deps
   {ext/mono {:local/root "../../deps/mono-test"}
    bases/external-test-runner {:local/root "../../bases/external-test-runner"}
    component/bank-test-resources {:local/root
                                   "../../components/bank-test-resources"}
}}}
 :deps
 {ext/mono {:local/root "../../deps/mono"}
  component/bank-balance {:local/root "../../components/bank-balance"}
  component/bank-balance-domain
  {:local/root "../../components/bank-balance-domain"}
  component/bank-balance-query
  {:local/root "../../components/bank-balance-query"}
  component/bank-bank {:local/root "../../components/bank-bank"}
  component/bank-bank-query
  {:local/root "../../components/bank-bank-query"}
  component/bank-cash-account {:local/root "../../components/bank-cash-account"}
  component/bank-cash-account-query
  {:local/root "../../components/bank-cash-account-query"}
  component/bank-cash-account-product
  {:local/root "../../components/bank-cash-account-product"}
  component/bank-cash-account-product-query
  {:local/root "../../components/bank-cash-account-product-query"}
  component/bank-clearbank-webhook
  {:local/root "../../components/bank-clearbank-webhook"}
  component/bank-clearbank-relay
  {:local/root "../../components/bank-clearbank-relay"}
  component/bank-company-registry
  {:local/root "../../components/bank-company-registry"}
  component/bank-idempotency {:local/root "../../components/bank-idempotency"}
  component/bank-idv {:local/root "../../components/bank-idv"}
  component/bank-interest {:local/root "../../components/bank-interest"}
  component/bank-ledger-account
  {:local/root "../../components/bank-ledger-account"}
  component/bank-membership {:local/root "../../components/bank-membership"}
  component/bank-onfido-webhook
  {:local/root "../../components/bank-onfido-webhook"}
  component/bank-onfido-relay
  {:local/root "../../components/bank-onfido-relay"}
  component/bank-party {:local/root "../../components/bank-party"}
  component/bank-party-query
  {:local/root "../../components/bank-party-query"}
  component/bank-payee-check {:local/root "../../components/bank-payee-check"}
  component/bank-payment {:local/root "../../components/bank-payment"}
  component/bank-payment-query
  {:local/root "../../components/bank-payment-query"}
  component/bank-person-identification
  {:local/root "../../components/bank-person-identification"}
  component/bank-policy {:local/root "../../components/bank-policy"}
  component/bank-resources {:local/root "../../components/bank-resources"}
  component/bank-scheduler {:local/root "../../components/bank-scheduler"}
  component/bank-schema {:local/root "../../components/bank-schema"}
  component/bank-transaction {:local/root "../../components/bank-transaction"}
  component/bank-user {:local/root "../../components/bank-user"}


  base/bank-api {:local/root "../../bases/bank-api"}
  base/bank-clearbank-adapter
  {:local/root "../../bases/bank-clearbank-adapter"}
  base/bank-clearbank-simulator
  {:local/root "../../bases/bank-clearbank-simulator"}
  base/bank-onfido-adapter {:local/root "../../bases/bank-onfido-adapter"}
  base/bank-onfido-simulator {:local/root "../../bases/bank-onfido-simulator"}
  base/bank-uk-companies-house-simulator
  {:local/root "../../bases/bank-uk-companies-house-simulator"}
  base/bank-monolith {:local/root "../../bases/bank-monolith"}

  com.google.protobuf/protobuf-java {:mvn/version "3.25.8"}
  org.clojure/clojure {:mvn/version "1.12.4"}
  org.clojure/core.async {:mvn/version "1.9.865"}}
 :paths ["resources"]}
