{:aliases
 {:build {:deps {bases/build {:local/root "../../bases/build"}}
          :exec-args {:lib 'com.repldriven.queenswood/onfido-simulator-service
                      :main com.repldriven.queenswood.onfido-simulator.main
                      :major-minor-version "0.0"}
          :ns-default com.repldriven.queenswood.build.build}
  :test {:extra-deps {ext/mono {:local/root "../../deps/mono-test"}
                      bases/external-test-runner
                      {:local/root "../../bases/external-test-runner"}}}}
 :deps {ext/mono {:local/root "../../deps/mono"}
        component/onfido-webhook {:local/root "../../components/onfido-webhook"}
        base/onfido-simulator {:local/root "../../bases/onfido-simulator"}
        org.clojure/clojure {:mvn/version "1.12.5"}
        pin/clojure {:local/root "../../deps/clojure"}}
 :paths ["resources"]}
