{:paths ["src" "resources"]
 :deps {polylith/clj-poly {:mvn/version "0.3.32"}
        io.github.seancorfield/polylith-external-test-runner
        {:git/tag "v0.7.0" :git/sha "9d885c0" :deps/root "projects/runner"}
        eftest/eftest {:mvn/version "0.6.0"}
        org.clojure/tools.cli {:mvn/version "1.1.230"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}

