{:name "Simple outbound — debit moves balance down"
 :tags #{:transfers :outbound}

 :given
 [{:command :open-account     :args []}
  {:command :inbound-transfer :args [:acct-0 1000]}]

 :when
 [{:command :outbound-transfer :args [:acct-0 300]}]

 :then
 [{:command :assert-no-anomaly :args []}
  {:command :assert-balance    :args [:acct-0 700]}]}
