{:paths   []
 :deps    {component/cli               {:local/root "../../components/cli"}
           component/env               {:local/root "../../components/env"}
           component/log               {:local/root "../../components/log"}
           component/ring              {:local/root "../../components/ring"}
           component/spec              {:local/root "../../components/spec"}
           component/symmetric-key     {:local/root "../../components/symmetric-key"}
           components/system           {:local/root "../../components/system"}
           base/symmetric-key-api      {:local/root "../../bases/symmetric-key-api"}
           org.clojure/clojure         {:mvn/version "1.11.1"}}

 :aliases {:build {:deps       {base/build {:local/root "../../bases/build"}}
                   :ns-default com.repldriven.mono.build.build
                   :exec-args  {:major-minor-version "0.0"
                                :main                com.repldriven.mono.symmetric-key-api.main
                                :lib                 'com.repldriven.mono/symmetric-key-vault}}
           :test  {:extra-paths ["../../components/ring/test" "../../components/ring/test-resources"]
                   :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}}
                   :exec-fn     cognitect.test-runner.api/test}}}