.git
.gitignore
*.md
docs
infra/helm
infra/docker
.idea
.vscode
**/target
**/.cpcache
**/.lsp
**/.calva
.clj-kondo
**/node_modules
projects/bank-web
bases/bank-app
projects/bank-app
.cache
.tilt-build
*.log
