readme.md merge=ours-always
workspace.edn merge=ours-always
deps.edn merge=ours-always
.clj-kondo/config.edn merge=ours-always 
.github/workflows/** merge=ours-always
development/src/dev/** merge=ours-always
docs/index.html merge=ours-always
Justfile merge=ours-always

