#_:clj-kondo/ignore
{:fn-map {":import" [:flow-body {:style :respect-nl}]
          ":require" [:flow-body {:style :respect-nl}]
          "comment" [:flow-body {:style :respect-nl}]
          "with-system" :arg1-body
          "let-nom" :binding
          "let-nom>" :binding
          "with-anomaly?" :arg1
          "with-let-anomaly?" :binding}
 :map {:comma? false
       :lift-ns? false
       :nl-separator? false
       :sort? false
       :unlift-ns? true}
 :search-config? true
 :width 80
 :style :community
 :vector {:option-fn-first #(if (string? %2) {:vector {:respect-nl? true}})}}
