{:aliases
 {:nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.5.2"}
                       cider/cider-nrepl {:mvn/version "0.58.0"}}
          :main-opts ["-m" "nrepl.cmdline"
                      "--middleware" "[cider.nrepl/cider-middleware]"]}
  :rebel {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.5"}}
          :main-opts ["-m" "rebel-readline.main"]}
  :build {:extra-deps #:io.github.clojure{tools.build {:mvn/version "0.10.12"}}}
  :dev
  {:extra-deps
   {components/accounts {:local/root "components/accounts"}
    components/avro {:local/root "components/avro"}
    components/cli {:local/root "components/cli"}
    components/command {:local/root "components/command"}
    components/db {:local/root "components/db"}
    components/encryption {:local/root "components/encryption"}
    components/env {:local/root "components/env"}
    components/error {:local/root "components/error"}
    components/event {:local/root "components/event"}
    components/http-client {:local/root "components/http-client"}
    components/iam {:local/root "components/iam"}
    components/json {:local/root "components/json"}
    components/log {:local/root "components/log"}
    components/migrator {:local/root "components/migrator"}
    components/mqtt {:local/root "components/mqtt"}
    components/pulsar {:local/root "components/pulsar"}
    components/server {:local/root "components/server"}
    components/spec-malli {:local/root "components/spec-malli"}
    components/spec-spec {:local/root "components/spec-spec"}
    components/system {:local/root "components/system"}
    components/telemetry {:local/root "components/telemetry"}
    components/test {:local/root "components/test"}
    components/testcontainers {:local/root "components/testcontainers"}
    components/utility {:local/root "components/utility"}
    components/vault {:local/root "components/vault"}
    bases/blocking-command-api {:local/root "bases/blocking-command-api"}
    bases/build {:local/root "bases/build"}
    bases/external-test-runner {:local/root "bases/external-test-runner"}
    bases/iam-api {:local/root "bases/iam-api"}
    bases/pulsar-mqtt-processor {:local/root "bases/pulsar-mqtt-processor"}
    bases/pulsar-reader {:local/root "bases/pulsar-reader"}
    bases/symmetric-key-api {:local/root "bases/symmetric-key-api"}
    org.clojure/clojure {:mvn/version "1.12.4"}
    org.clojure/core.async {:mvn/version "1.8.741"}}
   :extra-paths ["development/resources"]
   :jvm-opts
   ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/slf4j-factory"]}
  :poly {:extra-deps {polylith/clj-poly {:mvn/version "0.3.32"}
                      bases/external-test-runner {:local/root
                                                  "bases/external-test-runner"}}
         :main-opts ["-m" "polylith.clj.core.poly-cli.core"]}
  :format/zprint {:extra-deps {zprint/zprint {:mvn/version "1.2.9"}}
                  :main-opts ["-m" "zprint.main"]}
  :lint/clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
                   :main-opts ["-m" "clj-kondo.main"]}
  :test {:extra-deps {http-kit.fake/http-kit.fake {:mvn/version "0.2.2"}}
         :extra-paths ["components/accounts/test"
                       "components/accounts/test-resources"
                       "components/cli/test"
                       "components/env/test"
                       "components/env/test-resources"
                       "components/encryption/test"
                       "components/error/test"
                       "components/event/test"
                       "components/http-client/test"
                       "components/iam/test"
                       "components/json/test"
                       "components/log/test"
                       "components/migrator/test"
                       "components/migrator/test-resources"
                       "components/mqtt/test"
                       "components/mqtt/test-resources"
                       "components/pulsar/test"
                       "components/pulsar/test-resources"
                       "components/server/test"
                       "components/server/test-resources"
                       "components/avro/test"
                       "components/spec-malli/test"
                       "components/spec-spec/test"
                       "components/db/test"
                       "components/db/test-resources"
                       "components/system/test"
                       "components/testcontainers/test"
                       "components/testcontainers/test-resources"
                       "components/utility/test"
                       "components/vault/test"
                       "components/vault/test-resources"
                       "bases/blocking-command-api/test"
                       "bases/blocking-command-api/test-resources"
                       "bases/external-test-runner/test"
                       "bases/pulsar-reader/test"
                       "bases/pulsar-reader/test-resources"
                       "bases/symmetric-key-api/test"
                       "bases/symmetric-key-api/test-resources"
                       "bases/iam-api/test"
                       "bases/iam-api/test-resources"]}}
 :mvn/repos {"maven" {:url "https://packages.confluent.io/maven"}}}
