{:aliases {:test {:extra-deps {clj-test-containers/clj-test-containers
                               {:mvn/version "0.7.4"}
                               org.testcontainers/testcontainers {:mvn/version
                                                                  "2.0.3"}}
                  :extra-paths ["test" "test-resources"]}}
 :deps {}
 :paths ["src" "resources"]}
