{:aliases {:test {:extra-deps {} :extra-paths ["test"]}}
 :deps {component/error {:local/root "../error"}
        component/log {:local/root "../log"}
        org.clojure/tools.cli {:mvn/version "1.4.256"}}
 :paths ["src"]}
