{:aliases {:build {:deps {base/build {:local/root "../../bases/build"}}
                   :exec-args {:avro-tools-version "1.11.0"
                               :src "resources/schema"
                               :target "generated"}
                   :extra-deps {org.apache.avro/avro-tools {:mvn/version
                                                            "1.12.1"}}
                   :ns-default com.repldriven.mono.build.build}
           :test {:extra-deps {} :extra-paths ["test"]}}
 :deps {cddr/edn-avro {:mvn/version "v2.0.0"}
        clj-ulid/clj-ulid {:mvn/version "1.0.0"}
        deercreeklabs/lancaster {:mvn/version "0.12.2"}
        nomnom/abracad {:mvn/version "0.5.2"}
        tick/tick {:mvn/version "1.0"}}
 :paths ["src" "resources"]}
