{:paths ["src" "resources"]
 :deps {compojure/compojure {:mvn/version "1.6.2"}}
 :aliases {:test
           {:extra-deps {http-kit/http-kit {:mvn/version "2.5.3"}}
            :extra-paths ["test" "test-resources"]}}}
