{:output
 {:exclude-files
  ["target/" ".clj-kondo/imports/"
   "components/schema/gen/com/repldriven/queenswood/schemas/*.*\\.cljc"
   "components/test-schema/gen/com/repldriven/queenswood/test_schemas/*.*\\.cljc"
   "components/.*/build\\.clj"]}}
