{:lint-as {com.repldriven.mono.error.interface/nom-do> clojure.core/->
           com.repldriven.mono.error.interface/nom-let> clojure.core/let
           com.repldriven.mono.telemetry.interface/with-span-tests
           clojure.core/let}
 :output
 {:exclude-files
  ["target/" ".clj-kondo/imports/"
   "components/schemas/gen/com/repldriven/mono/schemas/*.*\\.cljc"
   "components/test-schemas/gen/com/repldriven/mono/test_schemas/*.*\\.cljc"
   "components/.*/build\\.clj"]}}
