{:name "Tenant exchanges client_credentials for a JWT and uses it"
 :tags #{:oauth :api :happy}
 :given
 [{:command :api/request
   :request {:method :post
             :path "/v1/organizations"
             :auth :admin
             :body {:name "OAuth Token Test Org"
                    :status "live"
                    :tier "micro"
                    :currencies ["GBP"]}}
   :as :org-0
   :assert {:status 201
            :body {:client-id [:m/regex "^org\\."]
                   :client-secret [:m/regex ".+"]}}}]
 :when
 [{:command :api/request
   :request {:method :post
             :path "/oauth/token"
             :headers {:content-type "application/x-www-form-urlencoded"}
             :form {:grant_type "client_credentials"
                    :client_id [:ref :org-0 :client-id]
                    :client_secret [:ref :org-0 :client-secret]
                    :scope "queenswood-api-live"}}
   :as :token-response
   :assert {:status 200
            :body {:access_token [:m/regex ".+"]
                   :token_type "Bearer"
                   :expires_in 3600}}}]
 :then
 [;; Bearer the freshly-minted JWT against an org-scoped endpoint
  {:command :api/request
   :request {:method :get
             :path "/v1/parties"
             :auth [:ref :token-response :access_token]}
   :assert {:status 200}}]}
