[{:config {:post {"autoTopicCreation" {"allowAutoTopicCreation" false
                                       "defaultNumPartitions" 1
                                       "topicType" "string"}
                  "encryptionRequired" false
                  "isAllowAutoUpdateSchema" false
                  "schemaValidationEnforced" true}
           :put {"schemaCompatibilityStrategy" "FULL"}}
  :namespace "tenant-1/namespace-1"}]
