[{:namespace "tenant-1/namespace-1"
  :config {:post {"autoTopicCreation"
                  {"topicType" "string"
                   "defaultNumPartitions" 1
                   "allowAutoTopicCreation" false}
                  "encryptionRequired" false
                  "isAllowAutoUpdateSchema" false
                  "schemaValidationEnforced" true}
           :put {"schemaCompatibilityStrategy" "FULL"}}}]
