{:aliases {:build {:deps {base/build {:local/root "../../bases/build"}}
                   :exec-args {:lib 'com.repldriven.mono/message-reader
                               :main com.repldriven.mono.pulsar-reader.main
                               :major-minor-version "0.0"}
                   :ns-default com.repldriven.mono.build.build}
           :test {:exec-fn cognitect.test-runner.api/test
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                               base/external-test-runner {:local/root "../../bases/external-test-runner"}}
                  :extra-paths []}}
 :deps {component/cli {:local/root "../../components/cli"}
        component/encryption {:local/root "../../components/encryption"}
        component/env {:local/root "../../components/env"}
        component/error {:local/root "../../components/error"}
        component/http-client {:local/root "../../components/http-client"}
        component/log {:local/root "../../components/log"}
        component/pubsub {:local/root "../../components/pubsub-pulsar"}
        component/schema-avro {:local/root "../../components/schema-avro"}
        component/spec-malli {:local/root "../../components/spec-malli"}
        component/system {:local/root "../../components/system"}
        component/test-system {:local/root "../../components/test-system"}
        component/testcontainers-system
        {:local/root "../../components/testcontainers-system"}
        component/utility {:local/root "../../components/utility"}
        base/pulsar-reader {:local/root "../../bases/pulsar-reader"}
        ;; use logback for the slf4j logging backend
        ch.qos.logback/logback-classic {:mvn/version "1.5.27"}
        ;; redirect logging to the slf4j frontend
        org.slf4j/jcl-over-slf4j {:mvn/version "2.0.17"}
        org.slf4j/log4j-over-slf4j {:mvn/version "2.0.17"}
        org.apache.logging.log4j/log4j-to-slf4j {:mvn/version "2.25.3"}
        org.slf4j/osgi-over-slf4j {:mvn/version "2.0.17"}
        org.slf4j/jul-to-slf4j {:mvn/version "2.0.17"}
        org.clojure/clojure {:mvn/version "1.12.4"}}
 :paths ["resources"]}
