{:admin {:service-http-url [#system :local-ref [:container-service-http-url]]}
 :client {:service-url [#system :local-ref [:container-service-url]]}
 :consumers
 {:1 {:_ [#system :local-ref [:topics]]
      :client [#system :local-ref [:client]]
      :conf {"cryptoFailureAction" #pubsub-crypto-failure-action :CONSUME
             "cryptoKeyReader" [#system :local-ref [:crypto-key-readers :1]]
             "schema" #pubsub-schema :AUTO_CONSUME
             "subscriptionName" "tenant-1-subscriber"
             "subscriptionType" #pubsub-subscription-type :Shared
             "topicNames" #{"persistent://tenant-1/namespace-1/topic-1"}}
      :schemas [#system :local-ref [:schemas]]}
  :2 {:_ [#system :local-ref [:topics]]
      :client [#system :local-ref [:client]]
      :conf {"cryptoFailureAction" #pubsub-crypto-failure-action :CONSUME
             "cryptoKeyReader" [#system :local-ref [:crypto-key-readers :2]]
             "schema" #pubsub-schema :AUTO_CONSUME
             "subscriptionName" "tenant-2-subscriber"
             "subscriptionType" #pubsub-subscription-type :Shared
             "topicNames" #{"persistent://tenant-1/namespace-1/topic-1"}}
      :schemas [#system :local-ref [:schemas]]}}
 :container {:docker-image-name "apachepulsar/pulsar:2.11.0"
             :exposed-ports [6650 8080]}
 :container-service-http-port {:container [#system :local-ref [:container]]
                               :exposed-port #ref [:container :exposed-ports 1]}
 :container-service-http-url
 {:port [#system :local-ref [:container-service-http-port]] :scheme "http"}
 :container-service-port {:container [#system :local-ref [:container]]
                          :exposed-port #ref [:container :exposed-ports 0]}
 :container-service-url {:port [#system :local-ref [:container-service-port]]
                         :scheme "pulsar"}
 :crypto-key-pair-file-readers
 {:1 {"tenant-key-1" {:private-key "pubsub/test_rsa_privkey.pem"
                      :public-key "pubsub/test_rsa_pubkey.pem"}}
  :2 {"tenant-key-2" {:private-key "pubsub/test_rsa_privkey.pem"
                      :public-key "pubsub/test_rsa_pubkey.pem"}}}
 :crypto-key-pair-generator {"tenant-key-1" {:algorithm "RSA" :key-size 512}}
 :crypto-key-readers
 {:1 {:default-key "tenant-key-1"
      :keys [#system :local-ref [:crypto-key-pair-file-readers :1]]}
  :2 {:default-key "tenant-key-2"
      :keys [#system :ref [:pubsub :crypto-key-pair-file-readers :2]]}}
 :namespaces {:_ [#system :local-ref [:tenants]]
              :admin [#system :local-ref [:admin]]
              :namespaces #include "test-env-pubsub-namespaces-values.edn"}
 :producer {:_ [#system :local-ref [:topics]]
            :client [#system :local-ref [:client]]
            :conf {"cryptoKeyReader" [#system :local-ref
                                      [:crypto-key-readers :1]]
                   "encryptionKeys" #{"tenant-key-1"}
                   "schema" #pubsub-schema :AUTO_PRODUCE_BYTES
                   "topicName" "persistent://tenant-1/namespace-1/topic-1"}
            :schemas [#system :local-ref [:schemas]]}
 :schemas {:user {:schema "schema-avro/user.avsc.json" :type "AVRO"}}
 :tenants {:admin [#system :local-ref [:admin]]
           :tenants #include "test-env-pubsub-tenants-values.edn"}
 :topics {:_ [#system :local-ref [:namespaces]]
          :admin [#system :local-ref [:admin]]
          :schemas [#system :local-ref [:schemas]]
          :topics #include "test-env-pubsub-topics-values.edn"}}
