{:aliases {:test {:extra-deps {} :extra-paths ["test" "test-resources"]}}
 :deps {org.apache.pulsar/pulsar-client-all
        {:exclusions [org.apache.pulsar/bouncy-castle-bc
                      org.apache.pulsar/bouncy-castle-bcfips
                      org.apache.bookkeeper/circe-checksum
                      io.netty/netty-all
                      io.netty/netty-common
                      io.netty/netty-handler
                      io.netty/netty-transport
                      io.netty/netty-codec
                      io.netty/netty-buffer
                      io.netty/netty-resolver
                      io.netty/netty-resolver-dns
                      io.netty/netty-codec-dns
                      io.netty/netty-codec-haproxy
                      io.netty/netty-transport-native-epoll
                      io.netty/netty-transport-native-unix-common
                      io.netty/netty-transport-classes-epoll
                      io.netty/netty-tcnative-classes
                      io.netty/netty-tcnative-boringssl-static
                      io.netty.incubator/netty-incubator-transport-classes-io_uring
                      io.netty.incubator/netty-incubator-transport-native-io_uring]
         :mvn/version "4.1.2"}
        org.apache.pulsar/pulsar-common
        {:exclusions [org.apache.pulsar/bouncy-castle-bc
                      org.apache.pulsar/bouncy-castle-bcfips
                      org.apache.bookkeeper/circe-checksum
                      io.netty/netty-all
                      io.netty/netty-common
                      io.netty/netty-handler
                      io.netty/netty-transport
                      io.netty/netty-codec
                      io.netty/netty-buffer
                      io.netty/netty-resolver
                      io.netty/netty-resolver-dns
                      io.netty/netty-codec-dns
                      io.netty/netty-codec-haproxy
                      io.netty/netty-transport-native-epoll
                      io.netty/netty-transport-native-unix-common
                      io.netty/netty-transport-classes-epoll
                      io.netty/netty-tcnative-classes
                      io.netty/netty-tcnative-boringssl-static
                      io.netty.incubator/netty-incubator-transport-classes-io_uring
                      io.netty.incubator/netty-incubator-transport-native-io_uring]
         :mvn/version "4.1.2"}
        org.bouncycastle/bcprov-jdk18on {:mvn/version "1.83"}
        org.bouncycastle/bcpkix-jdk18on {:mvn/version "1.83"}
        org.clojure/data.json {:mvn/version "2.5.2"}
        org.clojure/java.data {:mvn/version "1.4.120"}}
 :paths ["src"]}
