{:aliases {:build {:deps {bases/build {:local/root "../../bases/build"}}
                   :exec-args {:lib 'com.repldriven.mono/accounts-processor
                               :main com.repldriven.mono.pulsar-mqtt-processor.main
                               :major-minor-version "0.0"}
                   :ns-default com.repldriven.mono.build.build}
           :dev {:extra-deps {component/test {:local/root "../../components/test"}}}
           :test {:extra-deps {bases/external-test-runner
                               {:local/root "../../bases/external-test-runner"}
                               component/test-resources
                               {:local/root "../../components/test-resources"}}}}
 :deps {component/accounts {:local/root "../../components/accounts"}
        component/avro {:local/root "../../components/avro"}
        component/cli {:local/root "../../components/cli"}
        component/command {:local/root "../../components/command"}
        component/db {:local/root "../../components/db"}
        component/encryption {:local/root "../../components/encryption"}
        component/env {:local/root "../../components/env"}
        component/fdb {:local/root "../../components/fdb"}
        component/error {:local/root "../../components/error"}
        component/http-client {:local/root "../../components/http-client"}
        component/json {:local/root "../../components/json"}
        component/log {:local/root "../../components/log"}
        component/migrator {:local/root "../../components/migrator"}
        component/mqtt {:local/root "../../components/mqtt"}
        component/pulsar {:local/root "../../components/pulsar"}
        component/spec {:local/root "../../components/spec"}
        component/system {:local/root "../../components/system"}
        component/telemetry {:local/root "../../components/telemetry"}
        component/test {:local/root "../../components/test"}
        component/testcontainers {:local/root "../../components/testcontainers"}
        component/utility {:local/root "../../components/utility"}
        base/pulsar-mqtt-processor {:local/root "../../bases/pulsar-mqtt-processor"}
        org.clojure/clojure {:mvn/version "1.12.4"}
        org.clojure/core.async {:mvn/version "1.8.741"}}
 :paths ["resources"]}
