{:system
 {:ring
  {:interceptors {:pulsar-reader [#system :ref [:pubsub :reader]]
                  :mqtt-client [#system :ref [:mqtt :client]]}
   :jetty-adapter {:handler #system :required-component
                   :interceptors [#system :ref [:ring :interceptors]]
                   :options {:port #profile {:default #port 0}
                             :join? #profile {:default false}}}}

  :pubsub
  {:container {:docker-image-name "apachepulsar/pulsar:2.10.2"
               :exposed-ports [6650 8080]}
   :container-service-port {:container [#system :ref [:pubsub :container]]
                            :exposed-port 6650}
   :container-service-url {:scheme "pulsar"
                           :port [#system :ref
                                  [:pubsub
                                   :container-service-port]]}
   :container-service-http-port {:container [#system :ref [:pubsub :container]]
                                 :exposed-port 8080}
   :container-service-http-url {:scheme "http"
                                :port [#system :ref
                                       [:pubsub
                                        :container-service-http-port]]}
   :admin {:service-http-url
           [#system :ref [:pubsub :container-service-http-url]]}
   :client {:service-url [#system :ref [:pubsub :container-service-url]]}
   :schemas {:user
             {:type "AVRO"
              :schema "schema-avro/user.avsc"}}
   :topics
   {:admin [#system :ref [:pubsub :admin]]
    :tenants [{:tenant "tenant-1"
               :roles []
               :clusters ["standalone"]}]
    :namespaces [{:namespace "tenant-1/namespace-1"
                  :config {:post {"autoTopicCreation"
                                  {"topicType" "string"
                                   "defaultNumPartitions" 1
                                   "allowAutoTopicCreation" false}
                                  "encryptionRequired" true
                                  "isAllowAutoUpdateSchema" false
                                  "schemaValidationEnforced" true}
                           :put {"schemaCompatibilityStrategy" "FULL"}}}]
    :schemas [#system :ref [:pubsub :schemas]]
    :topics [{:topic "persistent://tenant-1/namespace-1/topic-1"
              :partitions 1
              :schema :user}]}
   :reader
   {:_topics [#system :ref [:pubsub :topics]]
    :client [#system :ref [:pubsub :client]]
    :conf { "schema" #pubsub-schema :AUTO_CONSUME
           "startMessageId" #pubsub-message-id :earliest
           "topicNames" #{"persistent://tenant-1/namespace-1/topic-1"}
           :schemas  [#system :ref [:pubsub :schemas]]}}}

  :mqtt
  {:container {:docker-image-name "hivemq/hivemq-ce:latest"
               :exposed-port 1883}
   :container-mapped-ports {:container [#system :ref [:mqtt :container]]}
   :container-connection-uri
   {:container-mapped-ports [#system :ref [:mqtt :container-mapped-ports]]
    :exposed-port 1883}
   :client {:uri [#system :ref [:mqtt :container-connection-uri]]
            :options {}}}}}
