{:system
 {:ring
  {:interceptors {:pulsar-reader [#system :ref [:pulsar :reader]]
                  :mqtt-client [#system :ref [:mqtt :client]]}
   :jetty-adapter {:handler #system :required-component
                   :interceptors [#system :ref [:ring :interceptors]]
                   :options {:port #profile {:default #port 0}
                             :join? #profile {:default false}}}}

  :pulsar
  {:container {:docker-image-name "kezhenxu94/pulsar:latest"
               :exposed-ports [6650 8080]}
   :container-service-port {:container [#system :ref [:pulsar :container]]
                            :exposed-port 6650}
   :container-service-url {:scheme "pulsar"
                           :port [#system :ref
                                  [:pulsar
                                   :container-service-port]]}
   :container-service-http-port {:container [#system :ref [:pulsar :container]]
                                 :exposed-port 8080}
   :container-service-http-url {:scheme "http"
                                :port [#system :ref
                                       [:pulsar
                                        :container-service-http-port]]}
   :admin {:service-http-url [#system :ref [:pulsar :container-service-http-url]]}
   :client {:service-url [#system :ref [:pulsar :container-service-url]]}
   :topics {:admin [#system :ref [:pulsar :admin]]
            :topics-and-opts [{:topic "persistent://tenant/namespace/identity"}]}
   :reader {:_ [#system :ref [:pulsar :topics]]
            :client [#system :ref [:pulsar :client]]
            :conf {"startMessageId" #pulsar-message-id :earliest,
                   "topicNames" ["persistent://tenant/namespace/identity"]}}}

  :mqtt
  {:container {:docker-image-name "hivemq/hivemq-ce:latest"
               :exposed-port 1883}
   :container-mapped-ports {:container [#system :ref [:mqtt :container]]}
   :container-connection-uri
   {:container-mapped-ports [#system :ref [:mqtt :container-mapped-ports]]
    :exposed-port 1883}
   :client {:uri [#system :ref [:mqtt :container-connection-uri]]
            :options {}}}}}
