{:aliases {:test {:extra-deps {},
                  :extra-paths ["test" "test-resources"]}},
 :deps {clj-test-containers/clj-test-containers {:mvn/version "0.5.0"},
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.772"}
        org.clojure/java.data {:mvn/version "1.0.95"}
        org.postgresql/postgresql {:mvn/version "42.3.3"}
        org.testcontainers/postgresql {:mvn/version "1.17.3"},
        org.testcontainers/testcontainers {:mvn/version "1.17.3"}},
 :paths ["src" "resources"]}
