{:aliases
 {:build {:deps {bases/build {:local/root "../../bases/build"}}
          :exec-args {:lib 'com.repldriven.mono/symmetric-key-vault
                      :main com.repldriven.mono.symmetric-key-api.main
                      :major-minor-version "0.0"}
          :ns-default com.repldriven.mono.build.build}
  :dev {:extra-deps {component/test-system {:local/root
                                            "../../components/test-system"}}}
  :test
  {:extra-deps
   {bases/external-test-runner {:local/root "../../bases/external-test-runner"}
    component/test-system {:local/root "../../components/test-system"}
    component/test-resources {:local/root "../../components/test-resources"}}}}
 :deps {component/cli {:local/root "../../components/cli"}
        component/env {:local/root "../../components/env"}
        component/error {:local/root "../../components/error"}
        component/http-client {:local/root "../../components/http-client"}
        component/log {:local/root "../../components/log"}
        component/server {:local/root "../../components/server"}
        components/system {:local/root "../../components/system"}
        component/utility {:local/root "../../components/utility"}
        base/symmetric-key-api {:local/root "../../bases/symmetric-key-api"}
        org.clojure/clojure {:mvn/version "1.12.4"}
        org.clojure/core.async {:mvn/version "1.8.741"}}
 :paths ["resources"]}
