{:aliases
 {:build {:deps {bases/build {:local/root "../../bases/build"}}
          :exec-args {:lib 'com.repldriven.queenswood/scheduler-processor-service
                      :main com.repldriven.queenswood.scheduler-processor.main
                      :major-minor-version "0.0"}
          :ns-default com.repldriven.queenswood.build.build}
  ;; The external test runner (cloverage + eftest) plus the test-helper
  ;; components the included domain bricks' tests require. CI runs every
  ;; project through this runner for coverage; matches the sibling
  ;; processor projects.
  :test
  {:extra-deps
   {ext/mono {:local/root "../../deps/mono-test"}
    bases/external-test-runner {:local/root "../../bases/external-test-runner"}
    component/test-resources {:local/root
                                   "../../components/test-resources"}
    component/testcontainers {:local/root
                                   "../../components/testcontainers"}
}}}
 :deps
 {ext/mono {:local/root "../../deps/mono"}
  component/fdb {:local/root "../../components/fdb"}
  component/balance {:local/root "../../components/balance"}
  component/balance-domain
  {:local/root "../../components/balance-domain"}
  component/balance-query
  {:local/root "../../components/balance-query"}
  component/cash-account-query
  {:local/root "../../components/cash-account-query"}
  component/cash-account-product-query
  {:local/root "../../components/cash-account-product-query"}
  component/ledger-account
  {:local/root "../../components/ledger-account"}
  component/interest {:local/root "../../components/interest"}
  component/policy {:local/root "../../components/policy"}
  component/resources {:local/root "../../components/resources"}
  component/schema {:local/root "../../components/schema"}
  component/scheduler {:local/root "../../components/scheduler"}
  component/transaction {:local/root "../../components/transaction"}


  base/scheduler-processor
  {:local/root "../../bases/scheduler-processor"}
  com.google.protobuf/protobuf-java {:mvn/version "3.25.8"}
  org.clojure/clojure {:mvn/version "1.12.5"}
  org.clojure/core.async {:mvn/version "1.9.865"}}
 :paths ["resources"]}
