{:system
 {:sql
  {:container {:docker-image-name "postgres:16" :exposed-port 5432}
   :container-mapped-exposed-port {:container [#system :local-ref [:container]]
                                   :exposed-port 5432}
   :datasource [#system :local-ref [:datasources :1]]
   :datasources {:1 {:dbtype "postgres"
                     :password "test"
                     :port [#system :local-ref [:container-mapped-exposed-port]]
                     :user "test"}}}}}
