{:aliases
 {:build {:deps {bases/build {:local/root "../../bases/build"}}
          :exec-args
          {:lib 'com.repldriven.queenswood/uk-companies-house-adapter-service
           :main com.repldriven.queenswood.uk-companies-house-adapter.main
           :major-minor-version "0.0"}
          :ns-default com.repldriven.queenswood.build.build}
  :test
  {:extra-deps
   {ext/mono {:local/root "../../deps/mono-test"}
    ext/mono-test-runner {:local/root "../../deps/mono-test-runner"}
    bases/uk-companies-house-simulator
    {:local/root "../../bases/uk-companies-house-simulator"}
    component/test-resources {:local/root "../../components/test-resources"}
    component/testcontainers {:local/root "../../components/testcontainers"}
    component/test-schema {:local/root "../../components/test-schema"}}}}
 :deps {ext/mono {:local/root "../../deps/mono"}
        component/company {:local/root "../../components/company"}
        component/fdb {:local/root "../../components/fdb"}
        component/resources {:local/root "../../components/resources"}
        component/schema {:local/root "../../components/schema"}
        base/uk-companies-house-adapter
        {:local/root "../../bases/uk-companies-house-adapter"}
        org.clojure/clojure {:mvn/version "1.12.5"}
        pin/clojure-core-async {:local/root "../../deps/clojure-core-async"}}
 :paths ["resources"]}
