{:aliases {:test {:extra-deps {}
                  :extra-paths ["test" "test-resources"]}}
 :deps {clj-test-containers/clj-test-containers {:mvn/version "0.7.4"}
        org.testcontainers/testcontainers {:mvn/version "2.0.3"}
        org.testcontainers/vault {:mvn/version "1.21.4"}
        org.testcontainers/hivemq {:mvn/version "1.21.4"}
        org.testcontainers/pulsar
        {:mvn/version "1.21.4"
         :exclusions [io.netty/netty-all
                      io.netty/netty-bom
                      io.netty/netty-common
                      io.netty/netty-handler
                      io.netty/netty-transport
                      io.netty/netty-codec
                      io.netty/netty-buffer
                      io.netty/netty-resolver
                      io.netty/netty-resolver-dns
                      io.netty/netty-codec-dns
                      io.netty/netty-codec-haproxy
                      io.netty/netty-transport-native-epoll
                      io.netty/netty-transport-native-unix-common
                      io.netty/netty-transport-classes-epoll
                      io.netty/netty-tcnative-classes
                      io.netty/netty-tcnative-boringssl-static
                      io.netty.incubator/netty-incubator-transport-classes-io_uring
                      io.netty.incubator/netty-incubator-transport-native-io_uring]}
        org.testcontainers/postgresql {:mvn/version "1.21.4"}}
 :paths ["src"]}
