{:aliases {:test {:extra-deps {} :extra-paths ["test" "test-resources"]}}
 :deps {clj-test-containers/clj-test-containers {:mvn/version "0.7.4"}
        org.testcontainers/testcontainers {:mvn/version "2.0.3"}
        org.testcontainers/vault {:mvn/version "1.21.4"}
        org.testcontainers/hivemq {:mvn/version "1.21.4"}
        org.testcontainers/pulsar {:mvn/version "1.21.4"
                                   :exclusions [org.apache.pulsar/pulsar-client
                                                org.apache.pulsar/pulsar-admin]}
        org.testcontainers/postgresql {:mvn/version "1.21.4"}}
 :paths ["src"]}
