{:aliases {:build {:deps {base/build {:local/root "../../bases/build"}}
                   :exec-args {:lib 'com.repldriven.mono/iam
                               :main com.repldriven.mono.iam-api.main
                               :major-minor-version "0.0"}
                   :ns-default com.repldriven.mono.build.build}
           :test {:extra-deps {base/external-test-runner {:local/root "../../bases/external-test-runner"}}
                  :extra-paths []}}
 :deps {component/cli {:local/root "../../components/cli"}
        component/env {:local/root "../../components/env"}
        component/error {:local/root "../../components/error"}
        component/http-client {:local/root "../../components/http-client"}
        component/iam {:local/root "../../components/iam"}
        component/log {:local/root "../../components/log"}
        component/migrator {:local/root "../../components/migrator"}
        component/server {:local/root "../../components/server"}
        component/sql-postgres {:local/root "../../components/sql-postgres"}
        component/system {:local/root "../../components/system"}
        component/test-system {:local/root "../../components/test-system"}
        component/testcontainers-system
        {:local/root "../../components/testcontainers-system"}
        component/utility {:local/root "../../components/utility"}
        base/iam-api {:local/root "../../bases/iam-api"}
        org.clojure/clojure {:mvn/version "1.12.4"}}
 :paths ["resources"]}
