{:aliases
 {:build {:deps {bases/build {:local/root "../../bases/build"}}
          :exec-args {:lib 'com.repldriven.mono/bank-scheduler-processor-service
                      :main com.repldriven.mono.bank-scheduler-processor.main
                      :major-minor-version "0.0"}
          :ns-default com.repldriven.mono.build.build}
  ;; The external test runner (cloverage + eftest) plus the test-helper
  ;; components the included domain bricks' tests require. CI runs every
  ;; project through this runner for coverage; matches the sibling
  ;; processor projects.
  :test
  {:extra-deps
   {ext/mono {:local/root "../../deps/mono-test"}
    bases/external-test-runner {:local/root "../../bases/external-test-runner"}
    component/bank-test-resources {:local/root
                                   "../../components/bank-test-resources"}
    component/test-resources {:local/root "../../components/test-resources"}
    component/test-schema {:local/root "../../components/test-schema"}
}}}
 :deps
 {ext/mono {:local/root "../../deps/mono"}
  component/bank-balance {:local/root "../../components/bank-balance"}
  component/bank-balance-domain
  {:local/root "../../components/bank-balance-domain"}
  component/bank-balance-query
  {:local/root "../../components/bank-balance-query"}
  component/bank-cash-account {:local/root "../../components/bank-cash-account"}
  component/bank-cash-account-query
  {:local/root "../../components/bank-cash-account-query"}
  component/bank-cash-account-product
  {:local/root "../../components/bank-cash-account-product"}
  component/bank-cash-account-product-query
  {:local/root "../../components/bank-cash-account-product-query"}
  component/bank-ledger-account
  {:local/root "../../components/bank-ledger-account"}
  component/bank-interest {:local/root "../../components/bank-interest"}
  component/bank-party {:local/root "../../components/bank-party"}
  component/bank-party-query
  {:local/root "../../components/bank-party-query"}
  component/bank-person-identification
  {:local/root "../../components/bank-person-identification"}
  component/bank-policy {:local/root "../../components/bank-policy"}
  component/bank-resources {:local/root "../../components/bank-resources"}
  component/bank-schema {:local/root "../../components/bank-schema"}
  component/bank-scheduler {:local/root "../../components/bank-scheduler"}
  component/bank-transaction {:local/root "../../components/bank-transaction"}


  base/bank-scheduler-processor
  {:local/root "../../bases/bank-scheduler-processor"}
  com.google.protobuf/protobuf-java {:mvn/version "3.25.8"}
  org.clojure/clojure {:mvn/version "1.12.4"}
  org.clojure/core.async {:mvn/version "1.9.865"}}
 :paths ["resources"]}
