{:aliases {:test {:extra-deps {} :extra-paths ["test" "test-resources"]}}
 :deps {org.foundationdb/fdb-java                  {:mvn/version "7.3.27"}
        org.foundationdb/fdb-record-layer-core-pb3 {:mvn/version "4.10.2.0"}}
 :paths ["src"]}
