{:paths ["src" "resources" "src/gen"]
 :deps {}
 :deps/prep-lib {:alias :build :fn build/gen-proto :ensure "src/gen"}
 :aliases {:test {:extra-paths ["test" "test-resources"]}
           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.12"}}
                   :paths ["."]}}}
