{:balance-sheet-side :balance-sheet-side-liability
 :allowed-currencies ["GBP"]
 :balance-products [{:balance-type :balance-type-default
                     :balance-status :balance-status-posted}
                    {:balance-type :balance-type-default
                     :balance-status :balance-status-pending-incoming}
                    {:balance-type :balance-type-default
                     :balance-status :balance-status-pending-outgoing}
                    {:balance-type :balance-type-interest-accrued
                     :balance-status :balance-status-posted}
                    {:balance-type :balance-type-interest-paid
                     :balance-status :balance-status-posted}]
 :allowed-payment-address-schemes [:payment-address-scheme-scan]}
