{:name "Admin creates a bank"
 :tags #{:banks :api :happy}
 :when
 [{:command :api/request
   :request {:method :post
             :path "/v1/banks"
             :auth :admin
             :body {:name "Galactic Bank"
                    :status "live"
                    :tier "micro"
                    :currencies ["GBP"]}}
   :as :bank-0
   :assert {:status 201
            :body {:name "Galactic Bank"
                   :status "live"
                   :type "customer"
                   :bank-id [:m/regex "^bnk\\."]
                   :client-id [:m/regex "^bnk\\."]
                   :client-secret [:m/regex ".+"]
                   :party {:party-id [:m/regex "^pty\\."]}
                   :accounts [{:account-id [:m/regex "^acc\\."]
                               :balances [:m/non-empty]}]}}}]
 :then
 [{:command :api/request
   :request {:method :get
             :path "/v1/banks"
             :auth :admin}
   :assert {:status 200}}]}
