{:command [:map
           [:id string?]
           [:command string?]
           [:correlation_id string?]
           [:causation_id {:optional true} [:maybe string?]]
           [:traceparent {:optional true} [:maybe string?]]
           [:tracestate {:optional true} [:maybe string?]]
           [:data {:optional true} [:maybe string?]]
           [:reply_to {:optional true} [:maybe string?]]]

 :command-request [:map
                   ["command" string?]
                   ["data" {:optional true} [:maybe string?]]]

 :command-result [:map
                  [:result :map]]

 :command-response [:map [:result map?]]}
