{:system
 {:ring {:jetty-adapter {:handler #system :required-component
                         :interceptors
                         {:datasource [#system :ref [:sql :datasource]]}
                         :options {:join? #profile {:default false}
                                   :port #profile {:default #port 0}}}}
  :sql {:container {:docker-image-name "postgres:14.2" :exposed-port 5432}
        :container-mapped-exposed-port
        {:container [#system :local-ref [:container]] :exposed-port 5432}
        :datasource {:dbtype "postgres"
                     :host "localhost"
                     :password "test"
                     :port [#system :local-ref [:container-mapped-exposed-port]]
                     :user "test"}}}}
