{:system
 {:sql
  {:container
   {:docker-image-name "postgres:14.2"
    :exposed-port 5432}
   :container-mapped-exposed-port
   {:container [#system :local-ref [:container]]
    :exposed-port 5432}
   :datasource
   {:host "localhost"
    :port [#system :local-ref [:container-mapped-exposed-port]]
    :user "test"
    :password "test"
    :dbtype "postgres"}}}}
