{:system {:postgres {:container {:docker-image-name "postgres:14.2"
                                 :exposed-port 5432}
                     :container-mapped-exposed-port {:container [#system :ref [:postgres :container]]
                                                     :exposed-port 5432}
                     :datasource {:host "localhost"
                                  :port [#system :ref [:postgres :container-mapped-exposed-port]]
                                  :user "test"
                                  :password "test"
                                  :dbtype "postgres"}}}}